# Node.js
node_modules/
dist/
.env

# Rust
target/
**/*.rs.bk
Cargo.lock

# macOS
.DS_Store

# Tauri
src-tauri/target/
src-tauri/gen/
src-tauri/binaries/

# Pancho App Data (Local testing)
wine_prefix/
bottles/